.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.226); 
}

.containerbutton{
  width: 100vh;
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  padding: 10px 20px; /* Espacio interno */
  color: rgb(24, 23, 23); /* Color del texto */
  border: none; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Transición suave */
  margin-right: 10px; /* Add space between buttons */
}

.button:hover {
  background-color: #3f4c86; /* Cambia el color de fondo al pasar el mouse */
}

.selectcontainer{
  margin-top: 10px;
  display: flex;
  justify-content: center;

  width: 100vh;
}

.select {
  padding: 5px; 
  font-size: 16px;
  margin-right: 50px; 
  border: 2px solid #ccc; 
  border-radius: 5px;  
  color: #333;
  cursor: pointer; 
}
